<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top sticky-footer" style="background-color:rgb(70, 65, 65);">
	<div class="container">
		<section class="footer-bottom border-top row">
			<div class="col-md-3">
				<h5 class="footer-header"> About Us </h5>
				<p><a href="#" class="text-muted">Our Story</a></p>
				<p><a href="#" class="text-muted">Meet the Team</a></p>
				<p><a href="#" class="text-muted">Vision</a></p>
				<p><a href="#" class="text-muted">FAQ</a></p>
			</div>
			<div class="col-md-3">
				<h5 class="footer-header"> Policies </h5>
				<p><a href="#" class="text-muted">Privacy Policy</a></p>
				<p><a href="#" class="text-muted">Return Policy</a></p>
				<p><a href="#" class="text-muted">Terms and Conditions</a></p>
				
			</div>
			<div class="col-md-3">
				<h5 class="footer-header">Help </h5>
				<p><a href="#" class="text-muted">Shipment & Charge</a></p>
				<p><a href="#" class="text-muted">Payment</a></p>
				<p><a href="#" class="text-muted">Contact Us</a></p>
				
			</div>

			<div class="col-md-3">
				<h5 class="footer-header">Follow Us </h5>
				<p><a href="#" class=""><i class="fa fa-facebook mr-3"></i>Facebook</a></p>
				<p><a href="#" class=""><i class="fa fa-twitter mr-3"></i>Twitter</a></p>
	
				
			</div>
		</section>
	</div><!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->