{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- ========================= SECTION MAIN ========================= -->
<section class="section-intro padding-y-sm">
    <div class="container">
    
    <div class="intro-banner-wrap">
        <img src="{% static 'images/banners/cover.png' %}" class="img-fluid rounded">
    </div>
    
    </div> <!-- container //  -->
    </section>
    <!-- ========================= SECTION MAIN END// ========================= -->
    
    <!-- ========================= SECTION  ========================= -->
    <section class="section-name padding-y-sm">
    <div class="container">
    
    <header class="section-heading">
        <a href="{% url 'books' %}" class="btn btn-outline-primary float-right">See all</a>
        <h3 class="section-title">Recently Added</h3>
    </header><!-- sect-heading -->
    
        
    <div class="row">
        {% for book in books  %}

            <div class="col-md-3">
                <div class="card card-product-grid">
                    <a href="{{ book.get_absolute_url }}" class="img-wrap"> <img src="{% static 'images/defaultBook.jpg' %}"> </a>
                    <figcaption class="info-wrap">
                        <a href="{{ book.get_absolute.url }}" class="title">{{ book.book_title }}</a>
                        <div class="mt-1">{{ book.author }}</div>
                        <div class="price mt-1">{{ book.price }}tk</div> <!-- price-wrap.// -->
                        
                    </figcaption>
                </div>
            </div> <!-- col.// -->
        {% endfor %}
    </div> <!-- row.// -->
    
    </div><!-- container // -->

    </section>
    <!-- ========================= SECTION  END// ========================= -->
    
    
    

{% endblock content %}

